.card-front, .card-back {
  box-sizing: border-box;
  background-size: cover;
}

.card {
  box-sizing: border-box;
  position:absolute;
  z-index: 2;
}

.card-front {
  background-image: url('../images/bg-card-front.png');
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-front-info-holder {
  display: flex;
  justify-content: space-between;
}

.card-front-info-number{
  line-height: 1.28;
  color: white;
  display: block;
}

.card-back {
  background-image: url('../images/bg-card-back.png');
}

@media screen and (max-width: 1000px) {
  .card {
    top: 32px;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: center;
  }

  .card-front, .card-back {
    width: 286px;
    height: 157px;
    border-radius: 6px;
  }

  .card-back {
    margin: 0;
    z-index: 2;
    margin-right: -57px;
  }

  .card-front {
    margin: 0;
    z-index: 3;
    margin-top: 94px;
    margin-left: -57px;
    position: absolute;
    padding: 18px 19px 19px;
  }

  .card-front-info-number{
    font-size: 18px;
    margin: 0 0 17px;
    letter-spacing: 2.2px;
  }
}

@media screen and (min-width: 1000px) {
  .card {
    top: 187px;
    left: 90px;
  }

  .card-front, .card-back {
    width: 286px;
    height: 157px;
    border-radius: 6px;
  }

  .card-back {
    margin-top: 25px;
    margin-left: 70px;
  }

  .card-front{
    padding: 18px 19px 19px;
  }

  .card-front-info-number{
    font-size: 18px;
    margin: 0 0 17px;
    letter-spacing: 2.2px;
  }
}

@media screen and (min-width: 1300px){
  .card {
    left: 164px;
  }

  .card-front, .card-back {
    width: 447px;
    height: 245px;
    border-radius: 10px;
  }

  .card-back {
    margin-top: 37px;
    margin-left: 94px;
  }

  .card-front{
    padding: 28px 32px 26px;
  }

  .card-front-info-number{
    font-size: 28px;
    margin: 0 0 25px;
    letter-spacing: 3.42px;
  }
}
