.form {
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid green;
}

form {
  border: 1px solid red;
  box-sizing: border-box;
  max-width: 381px;
  max-height: 352px;
  margin-left: 480px;
}

input, label {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  margin: 0;
}

label {
  color: #21092F;
}

input {
  border: 1px solid lightgray;
  height: 45px;
  padding: 11px 16px;
  border-radius: 8px;
}

#expiringDateMonth, #expiringDateYear {
  width: 80px;
}

#cvc {
  width: 191px;
}
