#main {
  position: relative;
  box-sizing: border-box;
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
  border: 1px solid red;
}

#main > .gradient-background {
  width: 483px;
  min-height: 100%;
  background-image: url('../images/bg-main-desktop.png');
  background-size: cover;
}

.card {
  position: absolute;
  z-index: 2;

  top: 187px;
  left: 164px;
}

.card-front, .card-back {
  box-sizing: border-box;
  width: 447px;
  height: 245px;
  border-radius: 10px;
  background-size: cover;
} 

.card-front {
  background-image: url('../images/bg-card-front.png');
}

.card-back {
  margin-top: 37px;
  margin-left: 94px;
  background-image: url('../images/bg-card-back.png');
}